{% extends 'base.html.twig' %}

{% block body %}
    <h2>Doctrine DBAL demo</h2>

    <p>The page displays the <code>user</code> table rows coming from the <code>var/data.db</code> SQLite database.</p>

    <table class="striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Pseudo</th>
            <th>Created at</th>
            <th>Updated at</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.pseudo }}</td>
                <td>{{ user.created_at|date(constant('DateTime::RSS')) }}</td>
                <td>{{ user.updated_at|date(constant('DateTime::RSS')) }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="5" scope="row">
                    There are <b>{{ users|length }}</b> user(s).
                </th>
            </tr>
        </tfoot>
    </table>
{% endblock %}
