<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <title>{% block title %}{{ brand }}{% endblock %}</title>
    <meta name="description" content="A class-less example, without dependencies." />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.0.6/css/pico.classless.min.css" />

    {% block preconnect %}{% endblock %}

    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {{ importmap() }}
    {% endblock %}

    {#
        https://github.com/picocss/pico/discussions/642
        https://picocss.com/docs/classless
        https://x4qtf8.csb.app/
        https://www.npmjs.com/package/@picocss/pico?activeTab=code
        https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css
    #}
</head>

<body>

<header>
    <hgroup>
        <h1>{{ brand_html|raw }}</h1>
        <p>MicroSymfony: a Symfony 7.2 application skeleton on steroids, ready to use.</p>
    </hgroup>
    <nav>

        <ul>
            <li><a href="#" data-theme-switcher="auto">Auto</a></li>
            <li><a href="#" data-theme-switcher="light">Light</a></li>
            <li><a href="#" data-theme-switcher="dark">Dark</a></li>
        </ul>
        <details class="dropdown">
            <summary aria-haspopup="group" role="button" class="contrast">
                Menu
            </summary>
            <ul role="group">
                <li><a>Action</a></li>
                <li><a>Another action</a></li>
                <li><a>Something else here</a></li>
            </ul>
        </details>

    </nav>
</header>

<main>
    <section id="body">
        {% block body %}{% endblock %}
    </section>
</main>


<footer>
    <hr/>

    <small>
        {{ brand|raw }} v{{ sf_version }}{# version #} ({{ 'frankenphp' in php_sapi ? php_sapi : 'PHP '~php_sapi }} {{ php_version }})
    </small>
</footer>

<!-- Minimal theme switcher -->
<script src="js/minimal-theme-switcher.js"></script>

</body>
</html>
