<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <title>{% block title %}{{ brand }}{% endblock %}</title>
    <meta name="description" content="{% block description %}{{ description }}{% endblock %}" />
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>{% block icon %}{{ brand_emoji }}️{% endblock %}️</text></svg>">

    {% block preconnect %}{% endblock %}

    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {{ importmap() }}
    {% endblock %}
</head>

<body>

<header class="container">
    <div class="grid">
        <div>
            <hgroup>
                <h1>
                    <a href="{{ path(ctrl_fqcn('HomeAction')) }}">{{ brand_html|raw }}</a>
                </h1>
                <p>{{ description|raw }}</p>
            </hgroup>
        </div>

        <div></div>

        <div>
            <nav>
                <ul>
                    <li>
                        <details class="dropdown">
                            <summary aria-haspopup="group-menu" role="button" class="primary">
                                Menu
                            </summary>
                            <ul role="group-menu">
                                <li><a href="{{ path(ctrl_fqcn('HomeAction')) }}">📒 README</a></li>
                                <li><a href="{{ path(ctrl_fqcn('HelloWorldAction')) }}">Hello world! 👻</a></li>
                                <li><a href="{{ path('App\\Controller\\StimulusAction') }}"><b>J</b>ava<b>S</b>cript with Stimulus</a></li>
                                <li><a href="{{ path(ctrl_fqcn('ComposerAction')) }}">The <code>composer.json</code> file</a></li>
                                <li><a href="{{ path(ctrl_fqcn('FormAction')) }}">📝 Form example</a></li>
                                <li><a href="{{ app.environment == 'dev' ? '/_error/404.html' : '/404' }}">❌ Custom error page</a></li>
                                <li><a href="https://picocss.com/docs" target="_blank" >✨ Pico CSS documentation</a></li>
                            </ul>
                        </details>
                    </li>
                    <li>
                        <details class="dropdown">
                            <summary aria-haspopup="group-theme" role="button" class="secondary">
                                Theme
                            </summary>
                            <ul role="group-theme">
                                <li><a href="#" data-theme-switcher="auto">🚦Auto</a></li>
                                <li><a href="#" data-theme-switcher="light">🌞 Light</a></li>
                                <li><a href="#" data-theme-switcher="dark">🌘 Dark</a></li>
                            </ul>
                        </details>
                    </li>
                    <li>
                        <a data-tooltip="{{ website }}" href="{{ website }}" target="_blank"><img alt="GitHub" class="github-icon" src="{{ asset('icons/github.svg') }}" width="24" height="24"></a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <hr/>
</header>

<main class="container">
    {% block body %}{% endblock %}
</main>

<footer class="container">
    <hr/>

    <div class="grid">
        <div>
            <h6>{{ brand|raw }} v{{ sf_version }}{# version #} ({{ 'frankenphp' in php_sapi ? php_sapi : 'PHP '~php_sapi }} {{ php_version }})</h6>
            <small>
                A Symfony minimalist application template by <a href="https://www.strangebuzz.com" target="_blank">COil/Strangebuzz 🐝</a>
                and <a href="{{ website }}/graphs/contributors">other contributors</a>.<br/>
                Symfony ™ is a trademark of <a target="_blank" href="https://symfony.com/license">Symfony SAS</a>
                &middot;
            </small>
        </div>

        <div class="github">
            <a data-tooltip="{{ website }}" href="{{ website }}" target="_blank"><img alt="GitHub" class="github-icon" src="{{ asset('icons/github.svg') }}" width="24" height="24"></a>
        </div>
    </div>
</footer>

</body>
</html>
