<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset=utf-8>
        <meta name="description" content="{{ brand }}">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>

        <title>{% block title %}{{ brand }}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>🎶️</text></svg>">

        {% block preconnect %}{% endblock %}

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('barecss/css/bare.min.css') }}">
            <link rel="stylesheet" href="{{ asset('barecss/css/style.min.css') }}">
            {# tuning: integrate this barreccs #}
            <style>
                label.required:after {
                    content: " *";
                }
                form > div > div > ul > li {
                    color: red;
                }
            </style>
        {% endblock %}

        {% block javascripts %}{% endblock %}
    </head>

    <body id="{% block id %}base{% endblock %}">
        <nav>
            <label>
                <input type="checkbox">
                <header>
                    <a href="{{ path('app_home') }}">
                        {# <img alt="{{ brand }}" src="img/your-logo.svg">{{ brand_html|raw }}#}
                        {{ brand_html|raw }}
                    </a>
                </header>

                <ul>
                    <li><a href="{{ path('app_home') }}">Home</a></li>
                    <li><a href="{{ path('app_composer') }}">Composer</a></li>
                    <li>
                        <a>Menu</a>
                        <menu>
                            <menuitem><a href="{{ path('app_home') }}">Home (README.md)</a></menuitem>
                            <menuitem><a href="{{ path('app_stimulus') }}">JavaScript with stimulus</a></menuitem>
                            <menuitem><a href="{{ path('app_composer') }}">The <code>composer.json</code> file</a></menuitem>
                            <menuitem><a href="{{ path('app_form') }}">Form example</a></menuitem>
                            <menuitem><a href="/404">Custom error page</a></menuitem>
                            <menuitem><a target="_blank" href="http://barecss.com/">BarreCSS documentation</a></menuitem>
                        </menu>
                    </li>
                </ul>
            </label>
        </nav>

        <section>
            {% block body %}{% endblock %}
        </section>

        <footer>
            <h5>{{ brand|raw }}</h5>

            <grid>
                <div fx="" col="3/4">
                    <a att="" href="https://strangebuzz.com" target="_blank">A Symfony minimalist application template by COil/Strangebuzz 🐝</a>
                    <br/>
                    Symfony ™ is a trademark of <a target="_blank" att="" href="https://symfony.com/license">Symfony SAS</a>.
                </div>

                <div fx="" col="1/4" txt="r">
                    <a att="" href="https://github.com/strangebuzz/MicroSymfony" target="_blank"><img alt="GitHub" class="github-icon" src="/barecss/icons/github.svg"></a>
                </div>
            </grid>
        </footer>
    </body>
</html>
