{% extends 'base.html.twig' %}

{% block icon %}⛔️{% endblock %}

{% block title %}Error {{ status_code }}{% endblock %}

{% block body %}
    <article>
        <header>
            <h5>Oops! An Error {{ status_code }} occured!</h5>
        </header>

        <p>Sorry, but an error <b>{{ status_text }}</b> ({{ status_code }}) occured.
            <br/>
            &raquo; About this error code: <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/{{ status_code }}">
                https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/{{ status_code }}</a>
            <br/>
            &raquo; <a href="/">Homepage</a><br/>
        </p>

        <hr/>

        <div class="grid">
            <div></div>

            <div>
                <img src="https://frankenphp.dev/img/elephant_footer.svg" width="250" alt="The FrankenPHP elePHPant" /  >
            </div>

            <div></div>
        </div>

        <footer>
            Logo by <a data-tooltip="https://frankenphp.dev" href="https://frankenphp.dev">FrankenPHP</a>
        </footer>
    </article>
{% endblock %}
